.star
  font-size 0
  .star-item
    display inline-block
    background-repeat no-repeat
    &:last-child
      padding-right 0 !important
    &.on
      background-image url("./star_on.png")
    &.half
      background-image url("./star_half.png")
    &.off
      background-image url("./star_off.png")
