@font-face
  font-family: "zu-icon"
  src:
    url("./icon/phone.woff") format("woff"),
    url("./icon/phone.ttf") format("truetype")

[class^="zu-"], [class*=" zu-"]
  font-family: "zu-icon"!important
  font-size: 100%
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.zu-eye-invisible::before
  content: "\e624"

.zu-eye-visible::before
  content: "\e625"

.zu-square-right::before
  content: "\e67d"

.zu-select::before
  content: "\e609"

.zu-pulldown::before
  content: "\e603"

.zu-pullup::before
  content: "\e604"

.zu-more::before
  content: "\e607"

.zu-back::before
  content: "\e608"

.zu-arrow::before
  content: "\e60b"

.zu-close::before
  content: "\e60d"

.zu-warn::before
  content: "\e614"

.zu-question::before
  content: "\e616"

.zu-right::before
  content: "\e617"

.zu-wrong::before
  content: "\e618"

.zu-info::before
  content: "\e619"

.zu-remove::before
  content: "\e61a"

.zu-add::before
  content: "\e61c"

.zu-share::before
  content: "\e631"

.zu-no-wifi::before
  content: "\e632"

.zu-smile::before
  content: "\e634"

.zu-sad::before
  content: "\e636"

.zu-email::before
  content: "\e637"

.zu-game::before
  content: "\e638"

.zu-wifi::before
  content: "\e639"

.zu-hot::before
  content: "\e63b"

.zu-notification::before
  content: "\e63d"

.zu-delete::before
  content: "\e63e"

.zu-vip::before
  content: "\e63f"

.zu-mute::before
  content: "\e640"

.zu-danger::before
  content: "\e641"

.zu-volume::before
  content: "\e642"

.zu-bad::before
  content: "\e643"

.zu-mobile-phone::before
  content: "\e644"

.zu-aim::before
  content: "\e645"

.zu-navigation::before
  content: "\e64d"

.zu-safe-pay::before
  content: "\e64e"

.zu-tag::before
  content: "\e64f"

.zu-lock::before
  content: "\e651"

.zu-unlock::before
  content: "\e652"

.zu-edit::before
  content: "\e653"

.zu-scan::before
  content: "\e654"

.zu-qr-code::before
  content: "\e655"

.zu-calendar::before
  content: "\e659"

.zu-time::before
  content: "\e65f"

.zu-red-packet::before
  content: "\e664"

.zu-star::before
  content: "\e668"

.zu-setting::before
  content: "\e669"

.zu-home::before
  content: "\e66d"

.zu-credit-card::before
  content: "\e66e"

.zu-mall::before
  content: "\e670"

.zu-microphone::before
  content: "\e673"

.zu-search::before
  content: "\e674"

.zu-good::before
  content: "\e675"

.zu-alert::before
  content: "\e676"

.zu-picture::before
  content: "\e677"

.zu-message::before
  content: "\e678"

.zu-phone::before
  content: "\e67a"

.zu-location::before
  content: "\e67b"

.zu-like::before
  content: "\e67c"

.zu-camera::before
  content: "\e67e"

.zu-person::before
  content: "\e67f"

.zu-round-border::before
  content: "\e683"

.zu-important::before
  content: "\e68b"

.zu-ok::before
  content: "\e68c"

.zu-square-border::before
  content: "\e990"
