// 颜色定义规范
$default-bg = #FFFFFF
$head-bg = #E66243
$choose-color = #E66243
$title-color = #666666
$des-color = #999999
$time-color = #B3B3B3
$menu-color = #808080
$choose-yellow-color = #FBB03B
$border-default-color = #f9f8f8
$border-toolbar-color = #eeeeee
$tab-choose-color = #E66243
$select-text = #333

$mask-default = rgba(37, 38, 45, .4)
$dialog-mask = rgb(37, 38, 45)

//字体定义规范
$font-size-small = 10px
$font-size-medium = 12px
$font-size-medium-x = 13px
$font-size-medium-xx = 14px
$font-size-large = 15px
$font-size-large-x = 16px
$font-size-large-xx = 18px
$font-size-large-xxx = 29px
